<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>word</servlet-name>
        <servlet-class>controller.Decompose</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>postman</servlet-name>
        <servlet-class>controller.PostMan</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>handle</servlet-name>
        <servlet-class>controller.HandleData</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>handle</servlet-name>
        <url-pattern>/handleData</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>word</servlet-name>
        <url-pattern>/word</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>postman</servlet-name>
        <url-pattern>/postman</url-pattern>
    </servlet-mapping>
</web-app>


